In [1]:
import numpy as np
import random 
import math
import pandas as pd

In [2]:
base10 = []
base2 = []
base8 = []
base16 = []
for k in range(0,100):
    value = 2**k
    base10.append(value)
    base2.append(bin(value))
    base8.append(oct(value))
    base16.append(hex(value))

df = pd.DataFrame(list(zip(base10, base2,base8,base16)))
#df.head()
df.tail()

,0,1,2,3
95,39614081257132168796771975168,0b10000000000000000000000000000000000000000000...,0o40000000000000000000000000000000,0x800000000000000000000000
96,79228162514264337593543950336,0b10000000000000000000000000000000000000000000...,0o100000000000000000000000000000000,0x1000000000000000000000000
97,158456325028528675187087900672,0b10000000000000000000000000000000000000000000...,0o200000000000000000000000000000000,0x2000000000000000000000000
98,316912650057057350374175801344,0b10000000000000000000000000000000000000000000...,0o400000000000000000000000000000000,0x4000000000000000000000000
99,633825300114114700748351602688,0b10000000000000000000000000000000000000000000...,0o1000000000000000000000000000000000,0x8000000000000000000000000

In [3]:
base10 = []
base2 = []
base8 = []
base16 = []
for k in range(0,100):
    value = np.int64(2)**k
    base10.append(value)
    base2.append(bin(value))
    base8.append(oct(value))
    base16.append(hex(value))

df = pd.DataFrame(list(zip(base10, base2,base8,base16)),columns=['Base10','Base2','Base8','Base16'])
df
a = df['Base10']
print('We get ' + str(a[99] + 1) + ' for base 10.' )
a = df['Base2']
print('We get ' + str(a[99] + bin(1)) + ' for base 2.')
a = df['Base8']
print('We get ' + str(a[99] + oct(1)) + ' for base 8.')
a = df['Base16']
print('We get ' + str(a[99] + hex(1)) + ' for base 16.')

We get 1 for base 10.
We get 0b00b1 for base 2.
We get 0o00o1 for base 8.
We get 0x00x1 for base 16.

In [4]:
#The largest value is 2**64 - 1
a = - np.int64(9223372036854775807) # see C
a = a - 2
print('An Overflow Error occurs when you substract 1 from the most negative np.int64 number.')
#print(a)

An Overflow Error occurs when you substract 1 from the most negative np.int64 number.

/var/folders/py/vr4m1wt11hjb8dlz4x_1l0tr0000gn/T/ipykernel_61157/4250545078.py:3: RuntimeWarning: overflow encountered in long_scalars
  a = a - 2